name: CI

on: 
  push:
    paths-ignore:
      - 'README.md'

env:
  SOLUTION_FILE: $Env:GITHUB_WORKSPACE\Rogedo.LifeEngine.sln

jobs:
  build:
    runs-on: [windows-latest]
    steps:
        
      - name: Checkout
        uses: actions/checkout@v1

      - name: Setup .NET 10 SDK
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '10.0.x'  # Targeting .NET 10
        
      - name: NuGet Restore
        run: dotnet restore $SOLUTION_FILE
                           
      - name: Build
        run: dotnet build $SOLUTION_FILE
           
      - name: Run Tests
        run: dotnet test -v n $SOLUTION_FILE
